<!DOCTYPE html>
<html>

<head>
	<title>
    Remote Jobs
  </title>
  <link href="https://andybrewer.github.io/mvp/mvp.css" rel="stylesheet"></link>
  <style>
    body {
      background-color: #55efc4;
    }
  </style>
</head>

<body>
  <header><h1>😎Remote Jobs😎<h1>
              <h2>Welcome😁</h2>
  </header>
  <main>
    <form action="/detail" method="get">
      <h3>Search by term :</h3> 
      <input placeholder="ex) Python, react" required name="word"/>
      <button type="submit">Search</button> 
    </form>
  </main>
</body>

</html>